@use "../syle.scss" as *;

.error-conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  h1 {
    font-size: 8rem;
    color: $main-color;
  }
  p {
    font-weight: bold;
    font-size: 1.2rem;
  }
  a {
    color: $main-color;
  }
}
