@use "../syle.scss" as *;

.header-conteneur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px 10px 5px 10px;
  .logo-conteneur {
    height: 100%;
    img {
      height: 100%;
    }
  }
  nav {
    height: 100%;
    display: flex;
    align-items: center;
    a {
      color: $secondary-color;
      font-weight: bold;
      text-decoration: none;
      .fa-circle-user {
        margin-right: 5px;
      }
    }
  }
}
