// Couleurs principales du site
$main-color: #0ab879;
$secondary-color: #3d3d3d;
$tertiary-color: #085d3c;

// Paramètres réutilisables
@mixin btn {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: $main-color;
  color: white;
  border: none;
  box-shadow: 2px 2px 1px $tertiary-color;
}
